<article>
	<header>
		<h1><%= @movie.title %></h1>	
	</header>
	<p>
		<%= @movie.description %>
	</p>
	<p>
		<h3>Rating</h3>
	</p>
	<p>
		<%= @movie.rating %>
	</p>
	<p>
		<h3>Released On</h3>
	</p>
	<p>
		<%= @movie.released_on %>
	</p>
	<p>
		<h3>Total Gross</h3>
	</p>
	<p>
		<%= total_gross(@movie) %>
	</p>
	<p>
		<h3>Cast</h3>
	</p>
	<p>
		<%= @movie.cast %>
	</p>
	<p>
		<h3>Director</h3>
	</p>
	<p>
		<%= @movie.director %>
	</p>
	<p>
		<h3>Duration</h3>
	</p>
	<p>
		<%= @movie.duration %>
	</p>
	<p>
		<%= image_for(@movie) %>
	</p>
</article>

<%= link_to "Edit", edit_movie_path %> |
<%= link_to 'Delete', movie_path(@movie), method: :delete, data: {confirm: 'Are You Sure'} %>