<!DOCTYPE html>
<html>
<head>
  <title>Super-Heroic Flix</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/header" %>
<%= render "layouts/sidebar" %>
  
<%= yield %>

<%= render "layouts/footer" %>

</body>
</html>
