<h1><%= pluralize(@events.size, 'Event') %></h1>

<% @events.each do |event| %>
  <article>
    <header>
      <%= image_for(event) %>
      <h2>
        <%= link_to(event.name, event) %>
      </h2>
      <h3><%= pluralize(event.capacity, 'spot') %></h3>
    </header>
    <p>
      <%= truncate(event.description, length: 20, separator: ' ') %>
    </p>
    <table>
      <tr>
        <th>When:</th>
        <td><%= event.starts_at %></td>
      </tr>
      <tr>
        <th>Where:</th>
        <td><%= event.location %></td>
      </tr>
      <tr>
        <th>Price:</th>
        <td><%= format_price(event) %></td>
      </tr>
    </table>
  </article>
<% end %>

<%= link_to "Add New Event", new_event_path %>
