<!DOCTYPE html>
<html>
<head>
  <title>Shervin Flix</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>

<div id="wrapper">
	<% if flash[:notice] %>
		<p id="flash notice">
			<%= flash[:notice] %>
		</p>
	<% elsif flash[:alert] %>
		<p id="flash alert">
			<%= flash[:alert] %>
		</p>
	<% end %>
	<div id="container">
		<section id="sidebar">
			<%= render 'layouts/sidebar' %>
		</section>
		<section id="content">
			<%= yield %>
		</section>
	</div>
</div>

<%= render 'layouts/footer' %>

</body>
</html>
